@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(bootstrap.css);
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1294px; }

nav .navbar-nav a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 44px; }
nav .navbar-nav .dropdown-menu {
  background: white;
  border-radius: 40px; }
  nav .navbar-nav .dropdown-menu .dropdown-item {
    border: none;
    background: none; }
    nav .navbar-nav .dropdown-menu .dropdown-item:hover {
      color: #7abaff; }
@media screen and (max-width: 990px) {
  nav img {
    order: 2; } }
@media screen and (max-width: 990px) {
  nav #menu {
    order: 1; } }
@media screen and (max-width: 990px) {
  nav .social {
    order: 3; } }

.navbar-collapse {
  flex-grow: 0; }

.banner .container {
  max-width: 1290px; }
.banner .main_banner {
  background: #DCE5E2;
  border-radius: 32px;
  max-height: 100vh; }
  @media screen and (max-width: 990px) {
    .banner .main_banner {
      margin-left: 20px; } }
  @media screen and (max-width: 834px) {
    .banner .main_banner {
      padding-bottom: 30px;
      margin-right: 20px; } }
  @media screen and (max-width: 428px) {
    .banner .main_banner {
      margin: 0; } }
  .banner .main_banner .text {
    margin: 145px 0 265px 56px;
    position: absolute; }
    @media screen and (max-width: 1024px) {
      .banner .main_banner .text {
        margin: 50px 0 265px 56px; } }
    @media screen and (max-width: 428px) {
      .banner .main_banner .text {
        margin: 0; } }
    .banner .main_banner .text h1 {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000; }
      @media screen and (max-width: 1024px) {
        .banner .main_banner .text h1 {
          font-weight: 300;
          font-size: 38px;
          line-height: 50px; } }
      @media screen and (max-width: 990px) {
        .banner .main_banner .text h1 {
          text-align: left; } }
      @media screen and (max-width: 830px) {
        .banner .main_banner .text h1 {
          font-weight: 200;
          font-size: 28px;
          line-height: 27px; } }
      @media screen and (max-width: 428px) {
        .banner .main_banner .text h1 {
          font-weight: 100;
          font-size: 12px;
          line-height: 16px;
          margin-top: 30px; } }
    .banner .main_banner .text p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      padding-top: 19px;
      padding-bottom: 30px; }
      @media screen and (max-width: 990px) {
        .banner .main_banner .text p {
          text-align: left; } }
      @media screen and (max-width: 428px) {
        .banner .main_banner .text p {
          font-weight: 100;
          font-size: 8px;
          line-height: 10px;
          padding: 0; } }
    .banner .main_banner .text a {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 200px;
      padding: 14px 53px; }
      @media screen and (max-width: 990px) {
        .banner .main_banner .text a {
          margin-right: 300px; } }
      @media screen and (max-width: 768px) {
        .banner .main_banner .text a {
          font-size: 15px;
          line-height: 20px;
          padding: 11px 33px;
          margin-bottom: 20px; } }
      @media screen and (max-width: 428px) {
        .banner .main_banner .text a {
          font-size: 9px;
          line-height: 12px;
          padding: 8px 20px;
          margin-bottom: 20px; } }
  @media screen and (max-width: 990px) {
    .banner .main_banner .for_img {
      position: relative;
      right: 70px; } }
  .banner .main_banner .for_img img {
    width: 100%;
    height: 100%;
    position: relative;
    right: -570px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 834px) {
      .banner .main_banner .for_img img {
        left: 450px;
        top: 30px; } }
    @media screen and (max-width: 428px) {
      .banner .main_banner .for_img img {
        left: 250px; } }

.second_section h2 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000; }
  @media screen and (max-width: 800px) {
    .second_section h2 {
      font-size: 32px;
      line-height: 42px; } }
  @media screen and (max-width: 428px) {
    .second_section h2 {
      font-size: 16px;
      line-height: 17px; } }
.second_section p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000; }
  @media screen and (max-width: 800px) {
    .second_section p {
      font-size: 12px;
      line-height: 13px; } }
  @media screen and (max-width: 428px) {
    .second_section p {
      font-size: 8px;
      line-height: 11px; } }
.second_section .first_sec {
  margin-bottom: 20px; }
  @media screen and (max-width: 420px) {
    .second_section .first_sec {
      margin-top: 10px; } }
  @media screen and (max-width: 768px) {
    .second_section .first_sec .lt_text {
      max-height: 70vh; } }
  @media screen and (max-width: 428px) {
    .second_section .first_sec .lt_text {
      height: 40vh; } }
  .second_section .first_sec .lt_text img {
    margin-left: 42px; }
    @media screen and (max-width: 834px) {
      .second_section .first_sec .lt_text img {
        height: 70vh; } }
    @media screen and (max-width: 428px) {
      .second_section .first_sec .lt_text img {
        height: 40vh; } }
  .second_section .first_sec .lt_text p {
    margin-bottom: 0; }
  .second_section .first_sec .sec_text .sec_text_inf {
    margin-top: 80px;
    margin-left: 46px; }
    @media screen and (max-width: 428px) {
      .second_section .first_sec .sec_text .sec_text_inf h4 {
        text-align: left; } }
    .second_section .first_sec .sec_text .sec_text_inf p {
      margin-bottom: 0; }
      @media screen and (max-width: 428px) {
        .second_section .first_sec .sec_text .sec_text_inf p {
          text-align: left; } }
  @media screen and (max-width: 1024px) {
    .second_section .first_sec .sec_text img {
      width: 60%; } }
  @media screen and (max-width: 428px) {
    .second_section .first_sec .sec_text {
      margin-top: -25px; }
      .second_section .first_sec .sec_text img {
        order: 2;
        position: relative;
        left: 30px; } }
@media screen and (max-width: 768px) {
  .second_section img {
    width: 50%; } }
.second_section .item {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  position: relative; }
  .second_section .item:hover {
    transform: translateY(30px) scale(1.05);
    transition: ease-in-out 0s; }
    @media screen and (max-width: 990px) {
      .second_section .item:hover {
        display: none; } }
  .second_section .item .smartp {
    margin-top: 144px; }
  @media screen and (max-width: 990px) {
    .second_section .item .lt_p {
      position: relative;
      bottom: 150px; } }
  @media screen and (max-width: 428px) {
    .second_section .item .lt_p {
      top: -70px; } }
  @media screen and (max-width: 990px) {
    .second_section .item .lt_t {
      position: relative;
      bottom: 140px; } }
  @media screen and (max-width: 428px) {
    .second_section .item .lt_t {
      top: -65px; } }
  .second_section .item .lt_img {
    max-width: 100%;
    height: auto; }
    @media screen and (max-width: 1024px) {
      .second_section .item .lt_img {
        max-width: 80%; } }
    @media screen and (max-width: 990px) {
      .second_section .item .lt_img {
        margin-right: 400px; } }
    @media screen and (max-width: 420px) {
      .second_section .item .lt_img {
        height: auto;
        width: 55%; } }
  .second_section .item .ftext {
    position: relative;
    top: 114px; }
  .second_section .item img:nth-child(3) {
    margin-top: 42px; }
  .second_section .item h4 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #000000; }
    @media screen and (max-width: 428px) {
      .second_section .item h4 {
        font-size: 20px;
        line-height: 24px; } }
  .second_section .item p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: right;
    color: #000000; }
    @media screen and (max-width: 428px) {
      .second_section .item p {
        font-size: 10px;
        line-height: 14px; } }

.most_salled h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000; }
  @media screen and (max-width: 800px) {
    .most_salled h3 {
      font-size: 32px;
      line-height: 42px; } }
.most_salled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center; }
.most_salled .information .select:hover {
  transform: translateY(20px) scale(1.05);
  transition: ease-in-out 1s; }
  @media screen and (max-width: 990px) {
    .most_salled .information .select:hover {
      display: none; } }
.most_salled .information img {
  margin-right: 62px;
  position: relative; }
  @media screen and (max-width: 800px) {
    .most_salled .information img {
      left: 10px; } }
  @media screen and (max-width: 768px) {
    .most_salled .information img {
      left: -177px; } }
  @media screen and (max-width: 428px) {
    .most_salled .information img {
      left: -10px; } }
.most_salled .information h4 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-top: 40px; }
  @media screen and (max-width: 1024px) {
    .most_salled .information h4 {
      font-size: 20px;
      line-height: 28px; } }
  @media screen and (max-width: 990px) {
    .most_salled .information h4 {
      position: relative;
      text-align: center;
      left: 30px; } }
  @media screen and (max-width: 834px) {
    .most_salled .information h4 {
      margin-right: 60px; } }
.most_salled .information p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-top: 9px;
  text-align: left;
  display: block;
  width: 261px;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .most_salled .information p {
      font-size: 12px;
      line-height: 15px; } }
  @media screen and (max-width: 990px) {
    .most_salled .information p {
      margin-left: 130px;
      text-align: center; } }
  @media screen and (max-width: 834px) {
    .most_salled .information p {
      margin-left: 70px; } }
  @media screen and (max-width: 768px) {
    .most_salled .information p {
      left: 170px; } }
  @media screen and (max-width: 428px) {
    .most_salled .information p {
      left: -10px; } }
  .most_salled .information p:last-child {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: left; }
    @media screen and (max-width: 1024px) {
      .most_salled .information p:last-child {
        font-size: 16px;
        line-height: 20px; } }
    @media screen and (max-width: 990px) {
      .most_salled .information p:last-child {
        text-align: center; } }
    @media screen and (max-width: 428px) {
      .most_salled .information p:last-child {
        margin-bottom: 20px; } }
.most_salled .first_inf p:last-child {
  margin-top: 33px; }

.best_around {
  margin-top: 47px;
  background: #FFFFFF; }
  .best_around h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
    @media screen and (max-width: 800px) {
      .best_around h3 {
        font-size: 32px;
        line-height: 42px; } }
    @media screen and (max-width: 428px) {
      .best_around h3 {
        font-size: 22px;
        line-height: 32px; } }
  .best_around p {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
  @media screen and (max-width: 768px) {
    .best_around .b_a_text .gadgets {
      margin-top: 15px; } }
  .best_around .b_a_text .gadgets .sec_ba {
    padding-bottom: 43px; }
    @media screen and (max-width: 990px) {
      .best_around .b_a_text .gadgets .sec_ba {
        padding-bottom: 35px; } }
    @media screen and (max-width: 834px) {
      .best_around .b_a_text .gadgets .sec_ba {
        padding-bottom: 30px; } }
  .best_around .b_a_text .gadgets .third_ba {
    padding-bottom: 105px; }
    @media screen and (max-width: 990px) {
      .best_around .b_a_text .gadgets .third_ba {
        padding-bottom: 79px; } }
    @media screen and (max-width: 834px) {
      .best_around .b_a_text .gadgets .third_ba {
        padding-bottom: 65px; } }
  .best_around .b_a_text .gadgets .shadow_b_a {
    background-color: #F8F9FA;
    border-radius: 16px; }
    @media screen and (max-width: 768px) {
      .best_around .b_a_text .gadgets .shadow_b_a {
        max-width: 50%;
        margin: auto; } }
  .best_around .b_a_text .gadgets p {
    padding-top: 51px; }
  .best_around .b_a_text .gadgets h4 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    padding-bottom: 30px; }
    @media screen and (max-width: 800px) {
      .best_around .b_a_text .gadgets h4 {
        font-size: 18px;
        line-height: 25px; } }
  .best_around .b_a_text .gadgets a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
    padding: 14px 63px;
    text-decoration: none; }
    @media screen and (max-width: 428px) {
      .best_around .b_a_text .gadgets a {
        padding: 12px 33px;
        font-size: 12px;
        line-height: 15px; } }
    .best_around .b_a_text .gadgets a:hover {
      background-color: #d1ecf1; }
  .best_around .b_a_text .gadgets img {
    margin-top: 30px;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .best_around .b_a_text .gadgets img {
        max-width: 50%; } }
    @media screen and (max-width: 428px) {
      .best_around .b_a_text .gadgets img {
        max-width: 90%; } }

.ideas {
  margin-top: 47px; }
  .ideas h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
    @media screen and (max-width: 800px) {
      .ideas h3 {
        font-size: 20px;
        line-height: 24px; } }
  .ideas p {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
    @media screen and (max-width: 428px) {
      .ideas p {
        font-size: 10px;
        line-height: 14px; } }
  .ideas a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    position: relative;
    left: 50%; }
    @media screen and (max-width: 990px) {
      .ideas a {
        position: absolute;
        left: 45%; } }
    @media screen and (max-width: 428px) {
      .ideas a {
        font-size: 20px;
        line-height: 23px;
        left: 170px; } }
    .ideas a:after {
      content: url("../img/arrow.svg");
      position: relative;
      top: 6px; }
  .ideas .ideas_information {
    box-sizing: border-box; }
    .ideas .ideas_information p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      text-align: left;
      margin-bottom: 28px; }
      @media screen and (max-width: 990px) {
        .ideas .ideas_information p {
          text-align: center; } }
      @media screen and (max-width: 428px) {
        .ideas .ideas_information p {
          font-size: 14px;
          line-height: 20px; } }
  @media screen and (max-width: 768px) {
    .ideas .album {
      max-width: 70%;
      margin: auto; } }
  .ideas .album img {
    width: 100%; }

.first_row_btn {
  margin-bottom: 61px; }

.else {
  margin-top: 75px;
  margin-bottom: 68px; }
  .else h3 {
    font-family: "Readex Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000; }
    @media screen and (max-width: 800px) {
      .else h3 {
        font-size: 32px;
        line-height: 42px; } }
  .else a {
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    padding: 12px 27px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
    text-decoration: none; }
    @media screen and (max-width: 428px) {
      .else a {
        font-size: 7px;
        line-height: 10px;
        padding: 6px 11px; } }
    .else a:hover {
      background-color: lightgrey; }
  .else .input-group {
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    height: 60px; }
    .else .input-group button {
      border: none; }
    .else .input-group input {
      border: none;
      background: none;
      outline: none;
      width: 70%; }
      @media screen and (max-width: 428px) {
        .else .input-group input::placeholder {
          font-size: 12px;
          line-height: 20px; } }

.pre_end {
  margin-bottom: 19px; }
  .pre_end .pre_footer {
    background: #DCE5E2;
    border-radius: 16px;
    padding-bottom: 43px;
    padding-top: 73px; }
    .pre_end .pre_footer h3 {
      font-family: "Readex Pro", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000; }
      @media screen and (max-width: 800px) {
        .pre_end .pre_footer h3 {
          font-size: 32px;
          line-height: 42px; } }
    @media screen and (max-width: 428px) {
      .pre_end .pre_footer {
        font-size: 20px;
        line-height: 28px; } }
    .pre_end .pre_footer p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000; }
      @media screen and (max-width: 428px) {
        .pre_end .pre_footer p {
          font-size: 9px;
          line-height: 12px; } }
    .pre_end .pre_footer img {
      width: 233px;
      margin: auto;
      display: block; }
    .pre_end .pre_footer .input-group input {
      border-radius: 54px 0px 0px 54px;
      background: none;
      outline: none;
      height: 50px;
      margin-left: 50px; }
      @media screen and (max-width: 544px) {
        .pre_end .pre_footer .input-group input {
          margin-left: 0; } }
      .pre_end .pre_footer .input-group input::placeholder {
        position: relative;
        left: 32px;
        color: #000000; }
        @media screen and (max-width: 428px) {
          .pre_end .pre_footer .input-group input::placeholder {
            font-size: 12px;
            line-height: 20px;
            bottom: 2px; } }
    .pre_end .pre_footer .input-group button {
      border-radius: 0px 200px 200px 0px;
      background: #000000;
      color: #FFFFFF;
      height: 50px;
      padding-right: 20px;
      padding-left: 20px; }
      @media screen and (max-width: 428px) {
        .pre_end .pre_footer .input-group button {
          font-size: 12px;
          line-height: 20px; } }

.end {
  background: #F8F9FA; }
  .end .nav_end {
    margin: auto; }
    .end .nav_end .second_nav {
      position: relative; }
      @media screen and (max-width: 990px) {
        .end .nav_end .second_nav {
          left: 400px; } }
      @media screen and (max-width: 768px) {
        .end .nav_end .second_nav {
          left: -100px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .second_nav {
          left: -50px; } }
    @media screen and (max-width: 834px) {
      .end .nav_end .nav_end_inf {
        margin-top: 40px; } }
    .end .nav_end .nav_end_inf img {
      position: relative; }
      @media screen and (max-width: 834px) {
        .end .nav_end .nav_end_inf img {
          margin-right: 70px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .nav_end_inf img {
          left: -28px;
          top: -8px; } }
    .end .nav_end .nav_nav {
      position: relative; }
      @media screen and (max-width: 834px) {
        .end .nav_end .nav_nav {
          left: 50px; } }
      @media screen and (max-width: 800px) {
        .end .nav_end .nav_nav {
          left: 90px; } }
      @media screen and (max-width: 768px) {
        .end .nav_end .nav_nav {
          left: -370px;
          top: 170px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .nav_nav {
          left: -50px;
          top: 39px; } }
    .end .nav_end .first_nav {
      position: relative; }
      @media screen and (max-width: 768px) {
        .end .nav_end .first_nav {
          left: 270px;
          bottom: 30px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .first_nav {
          left: -80px;
          top: 40px; } }
    .end .nav_end .second_nav {
      position: relative; }
      @media screen and (max-width: 768px) {
        .end .nav_end .second_nav {
          left: -370px;
          top: 200px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .second_nav {
          top: 40px;
          left: -50px; } }
    .end .nav_end .third_nav {
      position: relative; }
      @media screen and (max-width: 768px) {
        .end .nav_end .third_nav {
          left: 270px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end .third_nav {
          left: -80px;
          top: 42px; } }
    .end .nav_end p {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      position: relative; }
      @media screen and (max-width: 834px) {
        .end .nav_end p {
          font-weight: 250;
          font-size: 13px;
          line-height: 15px;
          text-align: left; } }
      @media screen and (max-width: 800px) {
        .end .nav_end p {
          font-size: 12px;
          line-height: 15px; } }
      @media screen and (max-width: 768px) {
        .end .nav_end p {
          left: 5px; } }
      @media screen and (max-width: 428px) {
        .end .nav_end p {
          left: 70px;
          top: -9px; } }
    .end .nav_end ul {
      list-style: none; }
      .end .nav_end ul li {
        margin-bottom: 14px; }
        .end .nav_end ul li:first-of-type {
          margin-bottom: 19px; }
          .end .nav_end ul li:first-of-type a {
            font-family: "Readex Pro", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #000000;
            text-decoration: none; }
            @media screen and (max-width: 428px) {
              .end .nav_end ul li:first-of-type a {
                font-size: 13px;
                line-height: 17px; } }
        .end .nav_end ul li a {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 14px;
          text-decoration: none; }
          @media screen and (max-width: 428px) {
            .end .nav_end ul li a {
              font-size: 10px;
              line-height: 16px; } }
  .end .mades {
    margin-top: 131px;
    border-top: 3px solid #DCE5E2; }
    .end .mades p {
      display: block;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      margin-top: 52px; }
      @media screen and (max-width: 428px) {
        .end .mades p {
          font-size: 9px;
          line-height: 12px; } }
      .end .mades p:before {
        content: "Made By:";
        font-family: "Readex Pro", sans-serif; }
      .end .mades p:after {
        content: url("../img/arrow.svg");
        position: relative;
        top: 7px; }
      .end .mades p:last-of-type {
        display: block; }
        .end .mades p:last-of-type:before {
          content: "Powered by:"; }

.owl-theme .owl-dots {
  position: relative;
  top: -70px; }
  @media screen and (max-width: 990px) {
    .owl-theme .owl-dots {
      display: none; } }
  .owl-theme .owl-dots .owl-dot span {
    width: 194px;
    height: 3px;
    margin: 5px 34px;
    background: #000000;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; }
    @media screen and (max-width: 990px) {
      .owl-theme .owl-dots .owl-dot span {
        display: none; } }

.owl-nav .owl-prev {
  position: absolute;
  left: 5px;
  top: 38%; }
  @media screen and (max-width: 990px) {
    .owl-nav .owl-prev {
      display: none; } }

.owl-nav .owl-prev:before {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 600;
  content: "\f053";
  font-size: 50px;
  color: black; }
  @media screen and (max-width: 990px) {
    .owl-nav .owl-prev:before {
      display: none; } }

.owl-nav .owl-next {
  position: absolute;
  right: 7px;
  top: 37%; }
  @media screen and (max-width: 990px) {
    .owl-nav .owl-next {
      display: none; } }

.owl-nav .owl-next:before {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 600;
  content: "\f054";
  font-size: 50px;
  color: black; }
  @media screen and (max-width: 990px) {
    .owl-nav .owl-next:before {
      display: none; } }

* {
  box-sizing: border-box; }

@media screen and (max-width: 990px) {
  body {
    font-size: 16px;
    background: #FFFFFF;
    text-align: right; } }

@media screen and (max-width: 990px) {
  #menu {
    background: #FFFFFF;
    width: 100vw;
    height: auto;
    padding: 50px 0;
    color: #FFFFFF;
    display: flex;
    visibility: visible;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    transition: all 300ms ease-in-out;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 9; }
    #menu.active {
      top: 0; }
    #menu a {
      margin: 10px 0; } }

@media screen and (max-width: 990px) {
  #toggle {
    position: relative;
    width: 40px;
    height: 36px;
    left: 20px;
    top: 10px;
    transition: all 300ms ease-in-out;
    z-index: 10; }
    #toggle input {
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer; }
      #toggle input:checked + span {
        background: transparent;
        left: 0; }
        #toggle input:checked + span:after {
          transform: rotate(45deg) translate(-1px, -12px);
          left: -7px;
          background: #fff; }
        #toggle input:checked + span:before {
          transform: rotate(-45deg) translate(-4px, 16px);
          left: -7px;
          background: #fff; } }
@media screen and (max-width: 990px) {
  #toggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #34495E;
    margin-top: 10px;
    transition: all 0.1s;
    left: 0; }
    #toggle span:before, #toggle span:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #34495E;
      top: -12px;
      left: 0;
      transition: all 0.3s; }
    #toggle span:after {
      top: 12px; } }

/*# sourceMappingURL=preproc.css.map */
